<div class="flex h-screen">

  <!-- Left side: form -->
  <div class="flex-1 flex items-center justify-center bg-gray-50 p-4">
    <router-outlet></router-outlet>
  </div>

  <!-- Right side: logo / image -->
  <div class="flex-1 flex items-center justify-center" style="background-color: rgb(8, 168, 138);">
    <div class="flex flex-col items-center justify-center p-8">
      <img 
        src="assets/icons/user-register-icon.svg" 
        alt="Create Account" 
        class="w-64 h-64 md:w-80 md:h-80 lg:w-96 lg:h-96 animate-float">
      
      <h2 class="text-white text-3xl font-bold mt-8 text-center">
        Welcome to findJob
      </h2>
      <p class="text-white/80 text-lg mt-2 text-center">
        Create your account and start applying
      </p>
    </div>
  </div>

</div>